.sellerSchedules {
    color: #444;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: calc(100vh - 90px);
    overflow: auto;
}

.bg {
    background-image: url(../../../../public/assets/calendar_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    max-width: 1000px;
}

.sellerSchedules ul {
    width: 660px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 80px auto;
}

.sellerSchedules li {
    display: flex;
    flex-direction: column;
    text-align: left;
    background: linear-gradient(to left, white, #f8f8f8);
    box-shadow: 0 0 10px -5px black;
    border-radius: 15px;
    font-size: 1.1rem;
    padding: 20px;
    padding-top: 15px;
}

.scheduleBox {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.name {
    font-size: 2rem;
    font-weight: bold;
    border-bottom: solid 2px gainsboro;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.sellerSchedules button {
    font-size: 1rem;
    margin-top: 15px;
    border-radius: 5px;
    padding: 7px 12px;
    border: solid 3px gainsboro;
    transition: 250ms;
    background-color: transparent;
    cursor: pointer;
}

.hoverDelete:hover {
    background-color: #dd0000;
    border: solid 3px #bb0000;
    color: white;
}